body {
	background: #23233b;
}
.square {
	width: 30%;
	height: 30%;
	background: red;
	padding-top: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20px;
}
#container {
	max-width: 600px;
	margin: 0 auto;
}
h1 {
	color: gray;
}
#strip {
	background: white;
	color: #23233b;
	text-align: center;
}